<div id="left">
    <!-- TemplateBeginEditable name="MainContent" --><h1>The highest rated corporate &amp; group computer training in new york</h1>
    <h2>Why we are your best choice:</h2>
    <ul>
        <li class="rounded-corners-shadow">
            Certified Trainers, minimum of 10 yrs experience
        </li>
        <li class="rounded-corners-shadow">
            Since 1998
        </li>
        <li class="rounded-corners-shadow">
            Lifetime online forum support
        </li>
        <li class="rounded-corners-shadow">
            Top Notch feedback and client list
            <br/>
        </li>
    </ul>
    <h2>Group classes:
        <br/>
    </h2>
    <ul>
        <li class="rounded-corners-shadow">
            LIFETIME Unlimited retakes
        </li>
        <li class="rounded-corners-shadow">
            Micro Classes (3-6 people)
        </li>
        <li class="rounded-corners-shadow">
            Hands on (with fast computers)
        </li>
        <li class="rounded-corners-shadow">
            Hours of after class video training
        </li>
        <li class="rounded-corners-shadow">
            Materials constantly updated
        </li>
        <li class="rounded-corners-shadow">
            Free Coffee, Tea, Chocolate, water
        </li>
        <li class="rounded-corners-shadow">
            Comfortable, Convenient location
        </li>
        <li class="rounded-corners-shadow">
            75% off all future versions
        </li>
        <li class="rounded-corners-shadow">
            Shortcut Efficiency driven
        </li>
    </ul>
    <!-- TemplateEndEditable --><!-- end #left -->
</div>
<div id="center">
    <!-- TemplateBeginEditable name="Center" -->
    <table width="100%" border="0" id="programs">
        <tr>
            <td>
                <h2>Business Track</h2>
                <p>
                    Microsoft Office
                </p>
            </td>
            <td>
                <h2>Design Track</h2>
                <p>
                    Adobe Creative Suite
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#"><img src="/images/icons/excel.png" width="40" height="34" class="picspace" />Excel</a>
            </td>
            <td>
                <a href="#"><img src="/images/icons/ps.png" width="40" height="40" class="picspace" />Photoshop</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#"><img src="/images/icons/ppt.png" width="40" height="34" class="picspace" />PowerPoint</a>
            </td>
            <td>
                <a href="#"><img src="/images/icons/dw.png" width="40" height="40" class="picspace" />Dreamweaver</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#"><img src="/images/icons/word.png" width="40" height="34" class="picspace" />Word</a>
            </td>
            <td>
                <a href="#"><img src="/images/icons/ill.png" width="40" height="40" class="picspace" />Illustrator</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#"><img src="/images/icons/access.png" width="40" height="34" class="picspace" />Access</a>
            </td>
            <td>
                <a href="#"><img src="/images/icons/id.png" width="40" height="40" class="picspace" />InDesign</a>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <a href="#"><img src="/images/icons/flash.png" width="40" height="40" class="picspace" />Flash</a>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Specialty</h2>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <a href="#"><img src="/images/icons/spss.png" width="40" height="40" class="picspace" />SPSS</a>
            </td>
            <td>
                <a href="#"><img src="/images/icons/qb.png" width="40" height="40" class="picspace" />QuickBooks</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#"><img src="/images/icons/fm.png" width="40" height="40" class="picspace" />FileMaker</a>
            </td>
            <td>
                <a href="#"><img src="/images/icons/proj.png" width="40" height="40" class="picspace" />Project</a>
            </td>
        </tr>
    </table><!-- #EndLibraryItem -->
    <p>
        &nbsp;
    </p>
    <!-- TemplateEndEditable -->
    <!-- end #center -->
</div>
