<div id="fullcol" class="box">
    <p class="boxtxt">
        What ever your needs, group or corporate, New York Interactive Media provides you with the most practical and efficient hands-on computer training in New York City.
    </p>
    <p class="boxtxt">
        Conveniently located on Union Square, our staff are experienced professionals themselves in the fields they teach. Each of our instructors are expert, patient, fun and practical. We teach you exactly what you need to learn so that you can use your skills in real-life applications.
    </p>
    <p class="boxtxt">
        Both Group Classes and Corporate Training are available on-site or off-site.
    </p>
</div>
<table width="549" border="0" align="center">
    <tr>
        <td colspan="2" align="left" valign="top">
            <img src="images/msspec.png" width="232" height="44">
        </td>
        <td width="250" align="left" valign="top">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td width="125" align="left" valign="top">
            <p>
                <span class="smallprinthead">Business Track</span>
                <br>
                <span class="smallprint"><strong>Microsoft Office 2003 &amp; 2007</strong>
                    <br>
                    Excel | PowerPoint | Word 
                </span>
            </p>
        </td>
        <td align="left" valign="top">
            <span class="smallprinthead">Specialty</span>
            <br>
            <span class="smallprint">QuickBooks 2007
                <br>
                SPSS v15 
            </span>
        </td>
        <td width="250" rowspan="2" align="left" valign="top" class="box">
            <ul>
                <li class="indent">
                    <strong>Very <em>small classes</em> (4 to 9 people max)</strong>
                </li>
                <li class="indent">
                    <strong><em>Free retakes</em> within 3 months</strong>
                </li>
                <li class="indent">
                    <strong><em>Free online forum</em> support
                        <br>
                        for 1 year after class
                    </strong>
                </li>
                <li class="indent">
                    <strong>Comfortable environment</strong>
                </li>
                <li class="indent">
                    <strong>Convenient location</strong>
                </li>
                <li class="indent">
                    <strong>Classes <em>don't get cancelled</em></strong>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" valign="top">
            <span class="smallprinthead"><img src="images/adobe.png" width="232" height="44">
                <br>
                Design Track
            </span>
            <br>
            <span class="smallprint"><strong>Adobe Creative Suite 3</strong>
                <br>
                Dreamweaver | Photoshop | InDesign | Illustrator | Flash 
            </span>
        </td>
    </tr>
</table>
<p>
    Our specialties include: Excel, PowerPoint, Quickbooks, Photoshop, InDesign, Dreamweaver, Flash, Word, Excel for the Financial Industry, and Photoshop &amp; Illustrator for the Fashion Industry.
</p>
<p>
    Select your program in the menu above to view class times, pricing and outlines. Feel free to call 212.658.1918 or email today to speak to our Client Manager, Arlene.
</p>
