<div class='terms_and_conditions' id='terms_and_conditions'>
    <h2>Terms and Conditions</h2>
    <h3>Rescheduling, Substitution and Cancellation Policy</h3>
    <ul>
        <li>
            No charge for substituting students at any time.
        </li>
        <li>
            No charge to reschedule or cancel before 5 business days of class.
        </li>
        <li>
            There is a $<%= Money.new(site(:retake_fee)).to_s %> rescheduling or cancellation fee
            within 3-5 business days from the start of class.
        </li>
        <li>
            No refund or rescheduling permitted within 2 business days of start of
            class.
        </li>
        <li>
            No refund given for cancellations or "no-shows" within 2 business days
            from the start of class.
        </li>
        <li>
            If a retake is cancelled within 2 business days from the start of
            class, another retake may not be scheduled.
        </li>
    </ul>
    <p>
        <strong>Note:</strong>
        Business hours are Monday through Friday, 10am-5pm. Anything received
        after 5pm will be regarded as received at the start of the next business
        day.
    </p>
    <p>
        Rescheduling and cancellations must be sent by email to <%= site(:email) %>or by fax to <%= site(:fax) %>
    </p>
    <h3>Privacy Policies</h3>
    <ul>
        <li>
            We do not sell or give away any of your information to any third parties.
        </li>
        <li>
            Your emails and phone numbers are only used in relation to training correspondence.
        </li>
        <li>
            You may receive follow up emails if communication is lost.
        </li>
    </ul>
</div>
