<div id="content_left">
  <h1>ABOUT US</h1>

  <p>
    There is a reason why NYIM TRAINING is the highest rated computer training facility in New York City.
  </p>
  <ul class="col_button">
    <li class="rounded-corners-shadow">
      We put our clients first
    </li>
    <li class="rounded-corners-shadow">
      Certified Trainers
    </li>
    <li class="rounded-corners-shadow">
      10 years or more experience
    </li>
    <li class="rounded-corners-shadow">
      The most value for the cost
    </li>
    <li class="rounded-corners-shadow">
      The most before and after resources
    </li>
    <li class="rounded-corners-shadow">
      Fastest computers
    </li>
    <li class="rounded-corners-shadow">
      Self rescheduling
    </li>
    <li class="rounded-corners-shadow">
      Most helpful, kind client manager
    </li>
    <li class="rounded-corners-shadow">
      Most practical training
    </li>
  </ul>
  <p>
    <img src="/images/training_room.jpg" alt="NYIM Training Example Training Room" width="301" height="193"/>
  </p>

  <p>
    NYIM is an approved vendor in New York State. We have been training the college professors and IT department heads
    at all the State University of New York City Colleges and Institutions, along with corporations and individuals, for
    many years.
  </p>

  <p>
    &nbsp;
  </p>
</div>
<div id="content_right">
  <p>
    <img src="/images/nyim_training_building.jpg" alt="NYIM Training Building, 1 Union Square West" width="288" height="432"/>
  </p>

  <p>
    Call or
    <a href="mailto:faye@training-nyc.com">email</a> us to experience what good computer training in New York
    City is all about. We have hundreds of
    <a href="http://newyorkinteractivemedia.com/client_list_training-nyc.html">satisfied clients</a> who are willing to
    provide referrals. We would like to make you one of those clients.
  </p>

  <p>
    We offer both customized
    <a href="http://newyorkinteractivemedia.com/corporate_training_new_york_city.html">Corporate Training</a> and
    <a href="http://newyorkinteractivemedia.com/groupcourses.php">Group Classes</a>. Since 1998, we have trained
    thousands in the New York Metro area, along with hundreds of national and international clients. We are serious
    about delivering the most practical, focused computer training around New York and beyond.
  </p>

  <p>
    &nbsp;
  </p>
</div>