<div id="content_left">
  <h1>Corporate Computer Training in NYC and beyond</h1>

  <p>
    Practical training delivered by professionals can save your company hundreds of hours and thousands of dollars.
  </p>

  <p>
    Whether you have a certain task you need to perform, need to bring your employees up-to-date on the recent media
    trends, or just want strong personal attention to your own documents, Corporate Computer Training in NYC is an ideal
    option.
  </p>

  <p>
    Call <%= asset 'phone_number' %> test or
    <a href="mailto:faye@training-nyc.com">email</a> us with this information to get the process started
    today.
  </p>

  <p>
    Click here to view the
    <a href="http://newyorkinteractivemedia.com/nyim_customization_process.html">CUSTOMIZATION PROCESS</a>.
  </p>
</div>
<div id="content_right">
  <h1>Customized Private and Corporate Training </h1>
  <h4>View Pricing on 1-on-1 and Groups</h4>
  <table width="100%" align="center" cellpadding="0" cellspacing="0" class="rounded-corners-shadow" id="PT">
    <tr class="rounded-top-corners">
      <th class="center">
        # of
        <br/>
        People
      </th>
      <th class="right">Regular Rate</th>
      <th class="special-right">Special Rate</th>
    </tr>
    <tr class="row1">
      <td class="center">1</td>
      <td class="right">$125</td>
      <td class="special-right">$100</td>
    </tr>
    <tr class="row2">
      <td class="center">2</td>
      <td class="right">$150</td>
      <td class="special-right">$120</td>
    </tr>
    <tr class="row1">
      <td class="center">3</td>
      <td class="right">$175</td>
      <td class="special-right">$140</td>
    </tr>
    <tr class="row2">
      <td class="center">4-7</td>
      <td class="right">$200</td>
      <td class="special-right">$160</td>
    </tr>
    <tr class="row1">
      <td class="center">8-12</td>
      <td class="right">$275</td>
      <td class="special-right">$220</td>
    </tr>
    <tr class="row2">
      <td class="center">13-18</td>
      <td class="right">$350</td>
      <td class="special-right">$280</td>
    </tr>
    <tr class="row1">
      <td class="center">18+</td>
      <td class="right">Please contact us for quote</td>
      <td class="special-right">&nbsp;</td>
    </tr>
  </table>
  <p>
    &nbsp;
  </p>
</div>