<h1>The Highest Rated Corporate and Group Computer Training in New York</h1>
<h2>Why we are your best choice</h2>
<p>
  We offer the most complete EXCEL group class training, Excel corporate onsite training in NYC and private 1 on 1 Excel
  training in NYC. . We teach both Excel 2003, Excel 2007 and Excel 2010 classes.
</p>
<p>
  Whether it's Excel for Business for administrative needs, Advanced Excel classes for the professional, analyzing large
  amounts of data, or Excel for the Financial Industry, our Excel training will give you the skills you need to save
  time and money. For more information, click on the Excel group class links above, call 212.658.1918 or
  <a href="mailto:faye@training-nyc.com">email</a> us.
</p>
