<h2>Class Type:</h2>
<ul class="bullet_yes">
  <li>Can <a href="nyim_scheduling_policies.html">retake</a> the class, for free, up to 6 months.</li>
  <li>Manual to keep w/ access to student files</li>
  <li>Access to Online Video Training Tutorials (NEW!)</li>
  <li>Free <a href="http://newyorkinteractivemedia.com/forum/">forum</a> support for after class</li>
  <li>Mousepad with shortcuts to keep</li>
  <li>Hands on, goal based</li>
  <li>Small Classes of 4 to 9 people</li>
  <li>Fast computers</li>
  <li>Comfortable chairs, convenient location</li>
  <li>Patient, Fun, Experienced Trainer</li>
  <li>We provide coffee, tea, water</li>
</ul>
<h2>When you are finished with this class you will be able to:
  </p>


</h2>
<ul class="bullet_yes">
  <li>Create and manipulate advanced charts</li>
  <li>Understand how to manage Excel databases</li>
  <li>Create complex formulas</li>
  <li>Format text and numbers</li>
  <li>Efficiently maneuver around Excel</li>
  <li>Understand how to use any predefined functions</li>
  <li>Feel confident when printing large spreadsheets</li>
</ul>
<h2>Examples of people who will benefit greatly from this class:
  </p>


</h2>
<ul class="bullet_yes">
  <li>Those seeking to feel comfortable with most Excel office tasks</li>
  <li>Those looking to interview for positions that require up to an intermediate
    level of Excel
  </li>
</ul>
<h2>Materials</h2>
<ul class="bullet_yes">
  <li>Detailed reference sheet of everything covered</li>
  <li>Multiple XLS and XLT examples for in class and after class</li>
  <li>Shortcut sheet</li>
  <li>Resource sheet</li>
</ul>
<h2>Course Outline</h2>
<h3>Lesson 1<br>
</h3>
<ul>
  <li>What you can do with Excel<br>
  </li>
  <li>Cell and Row structure <br>
  </li>
  <li>Creating an efficient Excel workspace <br>
  </li>
  <li>Quickly entering data using Auto-fill <br>
  </li>
  <li>Auto-entries <br>
  </li>
  <li>Moving Data <br>
  </li>
  <li>Paste Special</li>
</ul>
<h3>Lesson 2<br>
</h3>
<ul>
  <li>Creating formulas manually <br>
  </li>
  <li>Creating formulas using paste functions and auto functions <br>
  </li>
  <li>SUM, AVERAGE, COUNT, MINIMUM, MAXIMUM, STANDARD DEVIATION <br>
  </li>
  <li>Understanding how to use hundreds of predefined functions</li>
</ul>
<h3>Lesson 3<br>
</h3>
<ul>
  <li>Absolute References and why they are crucial to you</li>
</ul>
<h3> Lesson 4- Formatting<br>
</h3>
<ul>
  <li>Alignment <br>
  </li>
  <li>Size <br>
  </li>
  <li>Direction <br>
  </li>
  <li>Format types <br>
  </li>
  <li>Borders <br>
  </li>
  <li>Cell width and height <br>
  </li>
  <li>Merging cells</li>
</ul>
<h3> Lesson 5- Advanced Formatting</h3>
<ul>
  <li>Custom formatting <br>
  </li>
  <li>Conditional Formatting <br>
  </li>
</ul>
<h3> Lesson 6- Charting</h3>
<ul>
  <li>Quick and dirty charting when you are in a rush <br>
  </li>
  <li>Advanced data series charting <br>
  </li>
  <li>Chart types and when to use them <br>
  </li>
  <li>Controlling every aspect of chart formatting such as color, axis scales, 3-D
    views, etc <br>
  </li>
</ul>
<h3> Lesson 7- Databases</h3>
<ul>
  <li>How to properly set up an Excel Database to ensure accurate information <br>
  </li>
  <li>Auto-filtering <br>
  </li>
  <li>Sorting the database <br>
  </li>
  <li>Subtotals <br>
  </li>
  <li>Freezing Rows for easy viewing</li>
</ul>
<h3> Lesson 8- Printing<br>
</h3>
<ul>
  <li>Setting print area <br>
  </li>
  <li>Using the Page Break Preview <br>
  </li>
  <li>Page Orientation <br>
  </li>
  <li>Repeating heading rows <br>
  </li>
  <li>Adding headers and footers to your printing area <br>
  </li>
  <li>Controlling the annoying "blank pages" and the "stray column" printing problem
    <br>
  </li>
  <li>Printing areas that are not next to each other <br>
  </li>
</ul>
<h3> Lesson 9 <br>
</h3>
<ul>
  <li>Where to find answers to more complex Excel problems <br>
  </li>
  <li>Books we have found helpful</li>
</ul>
<p>&copy; NYIM Training, LLC 2011

</p>
