<h1>Directions to our training facility </h1>
<a href="http://newyorkinteractivemedia.com/training_directions_printable.shtml">Click for printable version </a>
<p>
  NYIM Training Room
  <br/>
  One Union Square West (corner of 14th St Union Square)
  <br/>
  Suite 903 9th floor
  <br/>
  New York, NY 10003
</p>
<p>
  <img src="/images/nyim_training_googlemap.jpg" alt="NYC Training Map" width="543" height="348"/>
  <br/>
</p>
<p>
  By Subway:
</p>
<ul>
  <li>
    Take N, Q, R, W, 4, 5, 6 or L to 14th Street Union Square.
  </li>
  <li>
    Entrance is to the right of the Diesel Store
    <br/>
    or
  </li>
  <li>
    Take F or V [or the NJ PATH Train] to 14th S
  </li>
  <li>
    Walk two blocks east
  </li>
  <li>
    Left on Union Square Left, we are the corner building.
  </li>
</ul>
<center>
</center>
<p>
  Parking Lot Locations:
</p>
<ul>
  <li>
    7 East 14th St.  (between 5th &amp; Union Sq West)
  </li>
  <li>
    16 West  16th Street (between 5th &amp; 6th Avenue)
  </li>
  <li>
    55 West 14th Street (between 5th &amp; 6th Avenue)
  </li>
  <li>
    110 E. 16th Street. (between Park Avenue South &amp; Irving)
  </li>
  <li>
    101 East 13th Street (between 3rd &amp; 4th Avenue)
  </li>
</ul>
<p>
  <a href="http://maps.google.com/maps?hl=en&amp;rlz=1B2GGGL_enUS177&amp;btnG=Search&amp;um=1&amp;q=hotels&amp;near=Flatiron,+New+York,+NY&amp;fb=1&amp;view=text&amp;sa=X&amp;oi=local_group&amp;resnum=1&amp;ct=more-results&amp;cd=1" target="_blank">List
    of Union Square Hotels</a>
</p>
