<div class="rounded-corners-shadow promotion">
  <h2>Special Promotion</h1>

    <p>
      $135 <a href="#">Excel</a>
      or <a href="#">PowerPoint</a>
      for Business Blowout! (Normally $280)
      15% off all Web Design Classes (book before 9/15)
    </p>


</div>
