<div id="content_left">
  <h1>Policies</h1>

  <div class="box" id="policy">
    <p>
      All reschedule may be done in your &quot;Current Classes&quot; area on right.
    </p>

    <p>
      No charge for substituting students at any time.
    </p>

    <p>
      No charge to reschedule or cancel before 5 business days of class.
    </p>

    <p>
      There is a $25 rescheduling, cancellation or retake rescheduling fee within 3-5 business days from the start of
      class.
    </p>

    <p>
      No refund or rescheduling permitted within 2 business days of start of class.
    </p>

    <p>
      No refund given for cancellations or &quot;no-shows&quot; within 2 business days from the start of class.
    </p>

    <p>
      If a retake is cancelled within 2 business days from the start of class, another retake may not be scheduled.
    </p>
  </div>
</div>
<div id="content_right">
  <h1>Privacy Policy</h1>

  <div class="box" id="policy">
    <p>
      We do not sell or give away information to any third parties.
    </p>

    <p>
      Your emails and phone numbers are only used in relation to training.
    </p>

    <p>
      You may receive follow up emails if communication is lost.
    </p>
  </div>
  <p>
    &nbsp;
  </p>
</div>