Thank you for signing up.
<p>
  You have successfully completed your transaction. An email confirmation receipt has already been sent out
  from <%= site(:email) %> to all registered students. If you do not receive it in the next 5 minutes, please check your
  junk mail box. If you still haven’t received it, feel free to email <%= site(:email) %> or call us
  on <%= site(:phone) %> for further assistance.
</p>
